@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --light-black: #2a2e37;
  --blue: #006df0;
  --light-blue: #f0f7ff;
  --light-gray: #cdd9e5;
  --border: var(--light-gray);
  --border-blue: #c8e1ff;
  --body-color: var(--light-black);
  --header: var(--light-black);
  --links: var(--blue);
}

body {
  font-family: "Inter", sans-serif;
  color: var(--body-color);
}

header {
  background-color: var(--header);
  color: white;
}

a,
button {
  color: var(--links);
}

.border-gray {
  border-color: var(--border);
}

.btn-link {
  background-color: white;
  border: none;
  color: var(--links);
  padding: 0;
}

.width-500 {
  max-width: 400px;
}

svg {
  vertical-align: bottom;
  margin-right: 10px;
}

.description {
  display: none;
}
